Lazurite/Lazurite.Windows.ServiceClient/Service References/ServiceReference/LazuriteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EncryptedOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfstring" nillable="true" type="tns:EncryptedOfstring" />
  <xs:complexType name="EncryptedListOfScenarioInfoZ07PguPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfo" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedOfScenarioInfoZ07PguPe" nillable="true" type="tns:EncryptedOfScenarioInfoZ07PguPe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedListOfScenarioInfoZ07PguPe" nillable="true" type="tns:EncryptedListOfScenarioInfoZ07PguPe" />
  <xs:complexType name="EncryptedOfScenarioInfoZ07PguPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfo" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfScenarioInfoZ07PguPe" nillable="true" type="tns:EncryptedOfScenarioInfoZ07PguPe" />
  <xs:complexType name="EncryptedListOfScenarioInfoLWZ07PguPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfoLW" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedOfScenarioInfoLWZ07PguPe" nillable="true" type="tns:EncryptedOfScenarioInfoLWZ07PguPe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedListOfScenarioInfoLWZ07PguPe" nillable="true" type="tns:EncryptedListOfScenarioInfoLWZ07PguPe" />
  <xs:complexType name="EncryptedOfScenarioInfoLWZ07PguPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfoLW" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfScenarioInfoLWZ07PguPe" nillable="true" type="tns:EncryptedOfScenarioInfoLWZ07PguPe" />
  <xs:complexType name="EncryptedOfUserVisualSettingsZ07PguPe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserVisualSettings" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfUserVisualSettingsZ07PguPe" nillable="true" type="tns:EncryptedOfUserVisualSettingsZ07PguPe" />
</xs:schema>