Lazurite/Lazurite.Windows.ServiceClient/Service References/ServiceReference/Lazurite.MainDomain.MessageSecurity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EncryptedOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfstring" nillable="true" type="tns:EncryptedOfstring" />
  <xs:complexType name="EncryptedListOfScenarioInfor1_S29lkD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfo" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedOfScenarioInfor1_S29lkD" nillable="true" type="tns:EncryptedOfScenarioInfor1_S29lkD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedListOfScenarioInfor1_S29lkD" nillable="true" type="tns:EncryptedListOfScenarioInfor1_S29lkD" />
  <xs:complexType name="EncryptedOfScenarioInfor1_S29lkD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfo" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfScenarioInfor1_S29lkD" nillable="true" type="tns:EncryptedOfScenarioInfor1_S29lkD" />
  <xs:complexType name="EncryptedListOfScenarioInfoLWr1_S29lkD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfoLW" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedOfScenarioInfoLWr1_S29lkD" nillable="true" type="tns:EncryptedOfScenarioInfoLWr1_S29lkD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedListOfScenarioInfoLWr1_S29lkD" nillable="true" type="tns:EncryptedListOfScenarioInfoLWr1_S29lkD" />
  <xs:complexType name="EncryptedOfScenarioInfoLWr1_S29lkD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScenarioInfoLW" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfScenarioInfoLWr1_S29lkD" nillable="true" type="tns:EncryptedOfScenarioInfoLWr1_S29lkD" />
  <xs:complexType name="EncryptedOfUserVisualSettingsr1_S29lkD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserVisualSettings" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedOfUserVisualSettingsr1_S29lkD" nillable="true" type="tns:EncryptedOfUserVisualSettingsr1_S29lkD" />
  <xs:complexType name="EncryptedListOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EncryptedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedOfstring" nillable="true" type="tns:EncryptedOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedListOfstring" nillable="true" type="tns:EncryptedListOfstring" />
</xs:schema>