Lazurite/Lazurite.Windows.ServiceClient/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" />
  <xs:element name="IsScenarioValueChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q1:EncryptedOfstring" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="lastKnownValue" nillable="true" type="q2:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsScenarioValueChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsScenarioValueChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenariosInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenariosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="GetScenariosInfoResult" nillable="true" type="q3:EncryptedListOfScenarioInfor1_S29lkD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q4:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="GetScenarioInfoResult" nillable="true" type="q5:EncryptedOfScenarioInfor1_S29lkD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScenarioValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q6:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScenarioValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="CalculateScenarioValueResult" nillable="true" type="q7:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q8:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="GetScenarioValueResult" nillable="true" type="q9:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q10:EncryptedOfstring" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="value" nillable="true" type="q11:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q12:EncryptedOfstring" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="value" nillable="true" type="q13:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="scenarioId" nillable="true" type="q14:EncryptedOfstring" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="value" nillable="true" type="q15:EncryptedOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioParallelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedScenarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedScenariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="GetChangedScenariosResult" nillable="true" type="q16:EncryptedListOfScenarioInfoLWr1_S29lkD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVisualSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="visualSettings" nillable="true" type="q17:EncryptedOfUserVisualSettingsr1_S29lkD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVisualSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncAddictionalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="data" nillable="true" type="q18:EncryptedListOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncAddictionalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Lazurite.MainDomain.MessageSecurity" minOccurs="0" name="SyncAddictionalDataResult" nillable="true" type="q19:EncryptedListOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>