Pyrite2/Pyrite.Windows.ServiceClient/Service References/ServiceReference/PyriteService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" />
  <xs:element name="IsScenarioValueChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastKnownValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsScenarioValueChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsScenarioValueChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenariosInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenariosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" minOccurs="0" name="GetScenariosInfoResult" nillable="true" type="q1:ArrayOfScenarioInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" minOccurs="0" name="GetScenarioInfoResult" nillable="true" type="q2:ScenarioInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScenarioValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScenarioValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateScenarioValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScenarioValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncExecuteScenarioParallelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedScenarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedScenariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" minOccurs="0" name="GetChangedScenariosResult" nillable="true" type="q3:ArrayOfScenarioInfoLW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVisualSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" minOccurs="0" name="visualSettings" nillable="true" type="q4:VisualSettingsBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVisualSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>