Pyrite2/Pyrite.Windows.ServiceClient/Service References/ServiceReference/PyriteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PyriteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pyrite.MainDomain" />
      <xsd:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pyrite.ActionsDomain.ValueTypes" />
      <xsd:import schemaLocation="https://localhost:44340/PyriteService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_IsScenarioValueChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:IsScenarioValueChanged" />
  </wsdl:message>
  <wsdl:message name="IServer_IsScenarioValueChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsScenarioValueChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenariosInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScenariosInfo" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenariosInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScenariosInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenarioInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioInfo" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenarioInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_CalculateScenarioValue_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateScenarioValue" />
  </wsdl:message>
  <wsdl:message name="IServer_CalculateScenarioValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateScenarioValueResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenarioValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioValue" />
  </wsdl:message>
  <wsdl:message name="IServer_GetScenarioValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioValueResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_ExecuteScenario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScenario" />
  </wsdl:message>
  <wsdl:message name="IServer_ExecuteScenario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_AsyncExecuteScenario_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncExecuteScenario" />
  </wsdl:message>
  <wsdl:message name="IServer_AsyncExecuteScenario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncExecuteScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_AsyncExecuteScenarioParallel_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncExecuteScenarioParallel" />
  </wsdl:message>
  <wsdl:message name="IServer_AsyncExecuteScenarioParallel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncExecuteScenarioParallelResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetChangedScenarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedScenarios" />
  </wsdl:message>
  <wsdl:message name="IServer_GetChangedScenarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedScenariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SaveVisualSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVisualSettings" />
  </wsdl:message>
  <wsdl:message name="IServer_SaveVisualSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVisualSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="IsScenarioValueChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/IsScenarioValueChanged" message="tns:IServer_IsScenarioValueChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/IsScenarioValueChangedResponse" message="tns:IServer_IsScenarioValueChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScenariosInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetScenariosInfo" message="tns:IServer_GetScenariosInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetScenariosInfoResponse" message="tns:IServer_GetScenariosInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScenarioInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetScenarioInfo" message="tns:IServer_GetScenarioInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetScenarioInfoResponse" message="tns:IServer_GetScenarioInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateScenarioValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/CalculateScenarioValue" message="tns:IServer_CalculateScenarioValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/CalculateScenarioValueResponse" message="tns:IServer_CalculateScenarioValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScenarioValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetScenarioValue" message="tns:IServer_GetScenarioValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetScenarioValueResponse" message="tns:IServer_GetScenarioValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScenario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/ExecuteScenario" message="tns:IServer_ExecuteScenario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/ExecuteScenarioResponse" message="tns:IServer_ExecuteScenario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncExecuteScenario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/AsyncExecuteScenario" message="tns:IServer_AsyncExecuteScenario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/AsyncExecuteScenarioResponse" message="tns:IServer_AsyncExecuteScenario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncExecuteScenarioParallel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/AsyncExecuteScenarioParallel" message="tns:IServer_AsyncExecuteScenarioParallel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/AsyncExecuteScenarioParallelResponse" message="tns:IServer_AsyncExecuteScenarioParallel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangedScenarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetChangedScenarios" message="tns:IServer_GetChangedScenarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetChangedScenariosResponse" message="tns:IServer_GetChangedScenarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVisualSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SaveVisualSettings" message="tns:IServer_SaveVisualSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SaveVisualSettingsResponse" message="tns:IServer_SaveVisualSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServer" type="tns:IServer">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServer_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsScenarioValueChanged">
      <soap:operation soapAction="http://tempuri.org/IServer/IsScenarioValueChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenariosInfo">
      <soap:operation soapAction="http://tempuri.org/IServer/GetScenariosInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenarioInfo">
      <soap:operation soapAction="http://tempuri.org/IServer/GetScenarioInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateScenarioValue">
      <soap:operation soapAction="http://tempuri.org/IServer/CalculateScenarioValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenarioValue">
      <soap:operation soapAction="http://tempuri.org/IServer/GetScenarioValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScenario">
      <soap:operation soapAction="http://tempuri.org/IServer/ExecuteScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsyncExecuteScenario">
      <soap:operation soapAction="http://tempuri.org/IServer/AsyncExecuteScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsyncExecuteScenarioParallel">
      <soap:operation soapAction="http://tempuri.org/IServer/AsyncExecuteScenarioParallel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangedScenarios">
      <soap:operation soapAction="http://tempuri.org/IServer/GetChangedScenarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVisualSettings">
      <soap:operation soapAction="http://tempuri.org/IServer/SaveVisualSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PyriteService">
    <wsdl:port name="BasicHttpBinding_IServer" binding="tns:BasicHttpBinding_IServer">
      <soap:address location="https://localhost:44340/PyriteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>